*{
    box-sizing: border-box;
    color: white;
}

body{
    background-color: black;
    background-image: url("Doc2-1 2.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.h1{
    padding-top: 200px;
    text-align: center;
    font-size: 100px;
    font-weight: bolder;
    font-style: italic;
    font-family: SignPainter;
}

header{
    text-align: center;
    font-size: 100px;
    font-weight: bolder;
    font-style: italic;
    font-family: SignPainter;
}

.p1{
    font-size: 30px;
    text-align: center;
    padding: 50px;
}
p{
    font-size: 40px;
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
}

.p2{
    font-size: 30px;
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
}

a:visited{
    color: royalblue;
}
a:link{
    color: gold;
}

ul{
    list-style: none inside none;
    font-size: 30px;
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
}
ul > li:before {
    content: "-";
    text-indent: -5px;
}


